.navbar {
    /* background-color: rgb(0, 0, 48); */
    background-color: rgb(167, 226, 255);
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* padding: 0 10px; */
    align-items: center;
}

.main-heading {
    color: blueviolet;
    font-size: 25px;
    margin-left: 5px;
    font-family: Helvetica, sans-serif;
}

.mainLogo {
    height: 65px;
    margin-left: 30px;
}

.sidebarIcon {
    height: 30px;
    background-color: rgb(112, 112, 252);
    border-radius: 5px;
}

.logoAndHeading {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.homepage-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}